.boton{
	display: inline-block;
	padding: 8px 15px;
	text-decoration: none;
	color: #fff;
	margin: 15px 30px;
}
.boton:hover{
	position: relative;
	top: 2px;
}

.azul{
	background: #26c281;
	border-bottom: 5px solid #03a678;
}

.azul:hover{
	border-bottom: 2px solid #03a678;
}

.boton3d {
margin: 25px 15px;
text-decoration: none;

 color: #fff;

 font-weight: bold;

 padding: 10px 18px;

 font-size: 12px;

 border-radius: 10px;

 background-color: #69FF8C;

 box-shadow: 0 5px 5px #50C36A, 0 9px 0 #3FB051, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);

 position: relative;

 border-bottom: 1px solid rgba(255,255,255,0.2);

 display: inline-block;

 font-family: Arial, Helvetica, sans;

 text-shadow: 0px -1px 0px rgba(0,0,0,0.2);

}

.boton3d:hover {

 box-shadow: 0 5px 5px #51FF62, 0 9px 0 #3FB051, 0px 9px 10px rgba(0,0,0,0.3), inset 0px 2px 15px rgba(255,255,255,0.6), inset 0 -2px 9px rgba(0,0,0,0.2);

 color: #fff !important;

}

.boton3d:active {

 top: 7px;

 box-shadow: 0 2px 0 #3FB051, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);

 color: #fff !important;

}

.formaBoton {

 border-radius: 5px;

 padding-left: 25px;

 padding-right: 25px;

}
.botonAcomodo{
	text-align: left;
}
.colorAmarillo{

 background-color: #ffaa00;

 box-shadow: 0 5px 5px #d48d00, 0 9px 0 #bf8000, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);

}

.colorAmarillo:hover {

 box-shadow: 0 5px 5px #ffff00, 0 9px 0 #DEB400, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,0,0.5), inset 0 -2px 9px rgba(255,255,255,0.4);

}

.colorAmarillo:active {

 box-shadow: 0 2px 0 #bf8000, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);

}
.botonPosicion{
	position: relative;
	left: 1350px;
	width: 550px;
}