html{
	font-size: 16px;
	font-family: Merriweather;
}
ul{
	margin: 0 0;
	padding: 0 0;
}
.navnav{
	background: #000;
	position: relative;
	z-index:13;
	max-height: 70px;
}
.padding{
	padding: 2rem;
}
.back_img{
position: absolute;
  left: 0;
  right: 0;
  top: 65px;
 width: 100%;
 height: 550px;
 display: block;
 background-image: url(../img/keyboard.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin-left: 0px;
  margin-right: 0px;
}

.inline{
	display: inline;
}
a{
	color: inherit;
	text-decoration: none;
}
.border.circle{
	border-radius: 50%;
}
.cover-mask img{
	border: 3px solid rgba(21, 107, 221, 0.7);
}
img.center{
	display: block;
	margin: 0 auto;
}
.logo-front{
	z-index: 12;
	left: 0;
	transition: transform .5s ease-in-out;
	-ms-transition: transform .5s ease-in-out;
	-webkit-transition: transform .5s ease-in-out;
}
.logo{
	max-width: 150px;
	position: relative;
}
img{
	height: auto;
	vertical-align: middle;
	max-width: 100%;
}
.logo-front:hover{
	transform:rotate(-14deg);
}
.logo-back{
	z-index: 11;
	margin-bottom: -120px!important;
	top: -156px;
	left: 0;
	transition: left .7s ease-in-out;
	-ms-transition: left .7s ease-in-out;
	-webkit-transition: left .7s ease-in-out;
}
.logo-back-show{
	left: 140px;
}
.border {
  border-color: rgba(145, 43, 43, 0.8);
}
.title_center{
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	color: white;
	z-index: 12;
}
.title{
	font-size: 2rem;
  	font-family: Lato;
  	font-weight: 700;
  	margin-bottom: 0;
  	position: relative;
  	z-index: 12;
}
.title_description{
	font-size: 1rem;
  	max-width: 480px;
  	margin: 0 auto;
  	position: relative;
  	z-index: 12;
}
@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 8px 30px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 28px;
	line-height: 55px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\e009";
}

.hi-icon-screen:before {
	content: "\e00a";
}

.hi-icon-earth:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-cog:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-videos:before {
	content: "\e005";
}

.hi-icon-list:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-images:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-mail:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-archive:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-bookmark:before {
	content: "\e011";
}

.hi-icon-user:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-star:before {
	content: "\e014";
}

/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-6 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #1358c2;
}

.hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}  
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
